{
  "SpaceReplace":"_",

	"LightSet":{
		"group":[
			{	
				"Args":["Angle", "Sharpness", "SsaoWeight"],
				"Names":["DirLight0", "DirLight1", "LocalLight1", "LocalLight2", "LocalLight3"],
        "IsExpanded":[true, true, true, true, true]
			},
			{	
				"Args":["DirLight0", "DirLight1"],
				"Names":["Directional Light"],
        "IsExpanded":[true]
			},
      
			{	
				"Args":["LocalLight1", "LocalLight2"],
				"Names":["Local Light"],
        "IsExpanded":[false]
			}
		]	
	},
	
	
	"Fog":{
		"group":[
			{	
				"Args":[],
				"Names":["Fog Parameter"],
        "IsExpanded":[true]
			}
		]	
	}
}