{
	"LightSet":{
		"group":[
			{	
				"Args":["Angle", "Sharpness", "SsaoWeight"],
				"Names":["DirLight0", "DirLight1", "LocalLight1", "LocalLight2"],
        "IsExpanded":[true, true, true, true]
			}
		]	
	},
	
	
	"Fog":{
		"group":[
			{	
				"Args":[],
				"Names":["Fog Parameter"],
        "IsExpanded":[true]
			}
		]	
	}
}